@tailwind base;
@tailwind components;
@tailwind utilities;

.indent {
  text-indent: 1rem;
}

.mask-image {
  clip-path: url(#clip);
  object-fit: cover;
}

.animation-delay {
  animation-delay: calc(var(--order) * 100ms);
}
