@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  ::selection {
    background-color: #ffedca;
    color: #4d4d4d;
  }
}

@media (prefers-color-scheme: light) {
  ::selection {
    background-color: #ffedca;
  }
}
